# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
.pytest_cache/

# Cython generated sources and compiled extensions
src/sdpb_python/*.cpp
src/sdpb_python/*.c
*.so
*.pyd

# Editors
.vscode/
.idea/

# build logs
*.log

# documentation build
docs/_build/

# cibuildwheel output
wheelhouse/
